
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;600&display=swap');

// Colors
$main_color: #005595;
$light_blue: #75B8EA;
$light_blue-2: #007FE0;
$light_blue-3: #A3D1F5;
$gray:#F2F2F2;
$white:#ffff;
$dark-blue:#272d4b;

//Fonts
$title_font:'Roboto Condensed', sans-serif;
$text_font: 'Nunito Sans', sans-serif;


